<% layout('layout') %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <form method="POST" action="/promotions/edit/<%= promotion._id %>">

        <div class="form-group">
          <label>Promotion Type</label>
          <select class="form-control" name="promotion_type">
            <% for (let i = 0; i < promotionType.length; i++) { %>
              <% if (promotion.type == i) { %>
                <option value="<%= i %>" selected><%= promotionType[i] %></option>
              <% } else { %>
                <option value="<%= i %>"><%= promotionType[i] %></option>
              <% } %>
            <% } %>
          </select>
        </div>

        <div class="form-group">
          <label>Promotion Name</label>
          <input type="text" name="promotion_name" class="form-control" value="<%= promotion.name %>">
        </div>

        <div class="form-group">
          <label>Product 1</label>
          <select class="form-control" name="product1_name">
            <% products.forEach((product) => { %>
              <% if (promotion.product1_name == product) { %>
                <option value="<%= product %>" selected><%= product %></option>
              <% } else { %>
                <option value="<%= product %>"><%= product %></option>
              <% } %>
            <% }) %>
          </select>
        </div>

        <div class="form-group">
          <label>Product 2</label>
          <select class="form-control" name="product2_name">
            <option value="">Choose here</option>
            <% products.forEach((product) => { %>
              <% if (promotion.product2_name == product) { %>
                <option value="<%= product %>" selected><%= product %></option>
              <% } else { %>
                <option value="<%= product %>"><%= product %></option>
              <% } %>
            <% }) %>
          </select>
        </div>

        <div class="form-group">
          <label>Discount (輸入小數點, e.g 7折 請輸入 0.7, 買一送一不用輸入此欄)</label>
          <input type="number" step="0.01" name="discount" class="form-control" value="<%= promotion.discount %>">
        </div>

        <div class="form-group">
          <input type="submit" value="submit" class="form-control btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
