<% layout('layout') %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <form method="POST" action="/products/edit/<%= product._id %>">

        <div class="form-group">
          <label>Product Name</label>
          <input type="text" name="name" class="form-control" value="<%= product.name %>">
        </div>

        <div class="form-group">
          <label>Product Price</label>
          <input type="text" name="price" class="form-control" value="<%= product.price %>">
        </div>

        <div class="form-group">
          <label>Expiration (if any)</label>
          <input type="date" name="expiration" class="form-control" value="<%= moment(product.expiration).format('YYYY-MM-DD') %>">
        </div>

        <div class="form-group">
          <label>Beacon UUID</label>
          <input type="text" name="beacon_uuid" class="form-control" value="<%= product.beacon_uuid %>">
        </div>

        <div class="form-group">
          <input type="submit" value="submit" class="form-control btn btn-primary">
        </div>
      </form>
    </div>
  </div>
</div>
