<% layout('layout') %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Expiration</th>
            <th scope="col">Beacon UUID</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((product) => { %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= moment(product.expiration).format('YYYY-MM-DD') %></td>
              <td><%= product.beacon_uuid %></td>
              <td>
                <a href="/products/edit/<%= product._id %>" class="btn btn-success"><i class="fas fa-pencil-alt"></i></a>
                <button class="btn btn-danger" onclick="delProduct('<%= product._id %>')"><i class="fas fa-trash-alt"></i></button>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <a href="/products/create" class="btn btn-success">create product</a>
    </div>
    <div clas="col-2">
      <a href="/" class="btn btn-primary">home</a>
    </div>
  </div>
</div>

<script>
  function delProduct(id) {
    res = confirm('Are you sure to delete this product ?')
    if (res) {
      $.ajax({
        url: '/products/destroy/' + id,
        type: 'DELETE',
        success: () => {
          location.reload()
        }
      })
    }
  }
</script>
