<% layout('layout') %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Expiration</th>
            <th scope="col">Inventory</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach((product) => { %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= moment(product.expiration).format('YYYY/MM/DD') %></td>
              <td><a href="/products/edit/<%= product._id %>" class="btn btn-success">edit</a></td>
              <td>
                <button class="btn btn-danger" onclick="delBeacon('<%= product._id %>')">delete</button>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <a href="/products/create" class="btn btn-success">create product</a>
    </div>
    <div clas="col-2">
      <a href="/" class="btn btn-primary">home</a>
    </div>
  </div>
</div>

<script>
  function delBeacon(id) {
    $.ajax({
      url: '/products/destroy/' + id,
      type: 'DELETE',
      success: () => {
        location.reload()
      }
    })
  }
</script>
